section.actions {
  display: flex;
  margin: 0 0 1rem;

  button {
    display: flex;
    font-size: 4rem;
    width: 95px;
  }

  @media print {
    display: none;
  }
}

@import './Actions/ImportImage';
