.board {
  align-items: center;
  border: 1px solid #000;
  display: inline-flex;
  flex-direction: column;
  padding: 0.1rem;
  user-select: none;

  .row {
    display: flex;
    flex-direction: row;
  }

  @media print {
    margin: 0;
  }
}
