@import 'components/Actions';
@import 'components/Board';
@import 'components/Cell';
@import 'components/Footer';
@import 'components/Picker';

body {
  font-family: sans-serif;

  @media print {
    // Include background colours in printing (needed to display the coloured beads)
    -webkit-print-color-adjust: exact !important;
    border: 0;
    margin: 0;
    padding: 0;
    // This juuuust about matches the boards when printed
    transform: scale(0.7);
    width: 210mm;
  }
}

// Fork me on GitHub
.github-corner {
  .octo-arm {
    @media (max-width: 500px) {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
    transform-origin: 130px 106px;

    @media (max-width: 500px) {
      animation: none;
    }
  }

  @media print {
    display: none;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
